doctype html
html
  head
    title= title
    script(src="https://kit.fontawesome.com/883366e2a9.js" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= 'ToDoList'
    hr
    block content
